spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ohsoo_user
    username: postgres
    password: 0908
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never